.dds__template--productivity > footer,
.dds__template--productivity > header {
  border: 1px dashed #000;
}
.dds__template--productivity > footer,
.dds__template--productivity > header,
.dds__template--productivity > main {
  padding: 1rem;
}

nav {
  padding-top: 58px;
}

main {
  padding-top: 6rem;
}

.boxH3 {
  text-align: right;
}

.boxH4 {
  margin-top: 2rem;
  border-bottom: 2px dashed gray;
}

::ng-deep.boxHeaderClass {
  background-color: white;
  border-bottom: 2px solid lightgray;
}

.page-content {
  display: flex;
  flex-direction: row;
}

.mainy {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

::ng-deep .boxControl button {
  margin-right: 0.625rem;
}

.boxControl input {
  display: initial;
  width: initial;
}
